---

name: Build px-kustomize

on:
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  # prune:
  #   name: Prune images
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Prune
  #       uses: vlaurin/action-ghcr-prune@v0.6.0
  #       with:
  #         token: ${{ secrets.GITHUB_TOKEN }}
  #         organization: perfide-docker
  #         container: px-kustomize
  #         dry-run: true
  #         keep-younger-than: 7  # days
  #         keep-last: 2
  #         prune-untagged: true

  version:
    name: semantic-release get-next-release
    runs-on: ubuntu-latest
    outputs:
      next_prerelease_version: ${{ steps.tag_version.outputs.next_prerelease_version }}
      next_release_version: ${{ steps.tag_version.outputs.next_release_version }}
    # permissions:
    #   # for semantic-release to create a release
    #   contents: write
    #   # for semantic-release to comment on issues
    #   issues: write
    #   # for semantic-release to comment on pull requests
    #   pull-requests: write
    permissions:
      # for semantic-release to push
      contents: write
    steps:
      # https://github.com/actions/checkout
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: get-next-release
        id: tag_version
        run: |
          set -euxo pipefail
          npm --version
          npx --version
          export GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}"
          echo "repository_owner: ${{ github.repository_owner }}"
          GH_TOKEN_EXISTS="$(if [[ -n "${{ secrets.GITHUB_TOKEN }}" ]]; then echo yes; else echo no; fi)"
          GH_TOKEN_LENGTH="${#GITHUB_TOKEN}"
          echo "GH_TOKEN_EXISTS: ${GH_TOKEN_EXISTS}"
          echo "GH_TOKEN_LENGTH: ${GH_TOKEN_LENGTH}"
 
          # The command "git push --dry-run --no-verify https://github.com/perfide-docker/px-kustomize HEAD:main" failed with the error message remote: Permission to perfide-docker/px-kustomize.git denied to github-actions[bot].
          # EGITNOPERMISSION Cannot push to the Git repository.

          if [[ -z $GITHUB_ENV ]]; then
            echo "GITHUB_ENV not set"
          fi
          echo "GITHUB_ENV ${GITHUB_ENV}"

          echo "GITHUB_OUTPUT ${GITHUB_OUTPUT}"

          echo "DBG cmd 2b default nextRelease"
          npx -p @semantic-release/exec semantic-release \
            --dry-run \
            --no-ci \
            --plugins "@semantic-release/commit-analyzer,@semantic-release/exec" \
            --analyzeCommits @semantic-release/commit-analyzer \
            --verifyRelease @semantic-release/exec \
            --verifyReleaseCmd 'echo ${nextRelease.version} > next_release_version.txt'
            # --verifyReleaseCmd 'echo "NEXT_RELEASE_VERSION=${nextRelease.version}" >> "${GITHUB_OUTPUT}"'
          echo "next_release_version"
          cat next_release_version.txt
          NEXT_RELEASE_VERSION=$(cat next_release_version.txt)
          echo "NEXT_RELEASE_VERSION: ${NEXT_RELEASE_VERSION}"
          echo "next_release_version=${NEXT_RELEASE_VERSION}" >> "${GITHUB_OUTPUT}"
          echo "GITHUB_OUTPUT:"
          cat "${GITHUB_OUTPUT}"
          echo "NEXT_RELEASE_VERSION=${NEXT_RELEASE_VERSION}" >> "${GITHUB_ENV}"

          echo "DBG cmd 2 prerelease"
          echo '{"branches":["main",{"name":"main","prerelease":true}]}' > .releaserc.json \
            && npx -p @semantic-release/exec semantic-release \
              --dry-run \
              --no-ci \
              --plugins "@semantic-release/commit-analyzer,@semantic-release/exec" \
              --analyzeCommits @semantic-release/commit-analyzer \
              --verifyRelease @semantic-release/exec \
              --verifyReleaseCmd 'echo ${nextRelease.version} > next_prerelease_version.txt'
          #    --verifyReleaseCmd 'echo "NEXT_RELEASE_VERSION=${nextRelease.version}" >> "${GITHUB_OUTPUT}"'
          echo "next_prerelease_version"
          cat next_prerelease_version.txt
          NEXT_PRERELEASE_VERSION=$(cat next_prerelease_version.txt)
          echo "NEXT_PRERELEASE_VERSION: ${NEXT_PRERELEASE_VERSION}"
          echo "next_prerelease_version=${NEXT_PRERELEASE_VERSION}" >> "${GITHUB_OUTPUT}"
          echo "GITHUB_OUTPUT:"
          cat "${GITHUB_OUTPUT}"
          # echo "NEXT_PRERELEASE_VERSION2=${NEXT_PRERELEASE_VERSION}" >> "${GITHUB_ENV}"

          #echo "DBG cmd 4 ???"
          #npx -p @semantic-release/exec semantic-release \
          #  --dry-run \
          #  --no-ci \
          #  --plugins "@semantic-release/exec"
          # | grep 'The next release version is' | sed -E 's/.* ([[:digit:].]+)$/\1/')
          echo "DBG cmd 5"
          # echo "next_release_version=${NEXT_RELEASE_VERSION}" >> "${GITHUB_OUTPUT}"
          echo "DBG cmd END"

      - name: Debug version
        env:
          NEXT_RELEASE_VERSION_B: ${{ steps.tag_version.outputs.next_release_version }}
        run: |
          set -euxo pipefail
          echo "DBG A2 ${{ steps.tag_version.outputs.next_release_version }}"
          echo "DBG B2 ${{ steps.tag_version.outputs.next_release_version != '' }}"
          echo "DBG C2 ${{ steps.tag_version.outputs.next_prerelease_version }}"
          echo "NEXT_RELEASE_VERSION_B ${NEXT_RELEASE_VERSION_B}"
          echo "NEXT_RELEASE_VERSION ${NEXT_RELEASE_VERSION}"
          # echo "NEXT_PRERELEASE_VERSION2 ${NEXT_PRERELEASE_VERSION2}"
          echo "NEXT_PRERELEASE_VERSION ${NEXT_RELEASE_VERSION}"


  build:
    name: Build container
    needs: version
    if: ${{ needs.version.outputs.next_release_version != '' }}
    runs-on: ubuntu-latest
    permissions:
      # # for semantic-release to create a release
      # contents: write
      # # for semantic-release to comment on issues
      # issues: write
      # # for semantic-release to comment on pull requests
      # pull-requests: write
      # to enable use of OIDC for trusted publishing and npm provenance
      # id-token: write
      # for docker push ghcr
      packages: write
    steps:
      # https://github.com/actions/checkout
      - name: Repository checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Debug version
        env:
          NEXT_RELEASE_VERSION_B: ${{ needs.version.outputs.next_release_version }}
        run: |
          echo "DBG A ${{ needs.version.outputs.next_release_version }}"
          echo "DBG B ${{ needs.version.outputs.next_release_version != '' }}"
          echo "DBG C ${{ needs.version.outputs.next_prerelease_version }}"
          echo "NEXT_RELEASE_VERSION_B ${NEXT_RELEASE_VERSION_B}"
          echo "NEXT_RELEASE_VERSION ${NEXT_RELEASE_VERSION}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          # username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest

      # Error: ghcr.io/perfide-docker/px-kustomize:latest: image not known
      # - name: Frozen-Tapestry Podman Build and Push
      #   uses: Frozen-Tapestry/container-action@v1
      #   with:
      #     login_registry: ghcr.io
      #     # login_username: ${{ secrets.REGISTRY_USERNAME }}
      #     login_username: ${{ github.repository_owner }}
      #     # login_password: ${{ secrets.REGISTRY_PASSWORD }}
      #     login_password: ${{ secrets.GITHUB_TOKEN }}
      #     tags: ghcr.io/${{ github.repository }}:latest
      #     # dockerfile: path/to/Dockerfile
      #     # Use those security flags if using GitHub Action. Keep the defaults, if using Gitea.
      #     security: |
      #       --security-opt=seccomp=unconfined
      #       --security-opt=apparmor=unconfined
      #     push: true

      # mkdir /home/podman: permission denied
      # - name: Podman manual
      #   run: |
      #     podman login ghcr.io \
      #       --username ${{ github.repository_owner }} \
      #       --password ${{ secrets.GITHUB_TOKEN }} \
      #       --verbose \
      #       --authfile=/home/podman/auth/auth.json
      #     podman logout --authfile dir/auth.json quay.io

      # - name: Setup Node.js
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: "lts/*"
      # - name: Install dependencies
      #   run: npm clean-install
      # - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
      #   run: npm audit signatures
      # - name: Release
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: npx semantic-release

      - name: Build and push the image
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          echo "new_release_version ${{ steps.semantic.outputs.new_release_version }}"
          echo "new_release_major_version ${{ steps.semantic.outputs.new_release_major_version }}"
          echo "new_release_minor_version ${{ steps.semantic.outputs.new_release_minor_version }}"
          echo "new_release_patch_version ${{ steps.semantic.outputs.new_release_patch_version }}"
          # docker login --username perfide-docker --password ${{ secrets.GH_PAT }} ghcr.io
          # echo "${GH_TOKEN}" | docker login ghcr.io -u perfide --password-stdin
          docker build . --tag ghcr.io/perfide-docker/px-kustomize:${{ steps.semantic.outputs.new_release_version }}
          # Settings, Actions, General, Read and write permissions
          docker push ghcr.io/perfide-docker/px-kustomize:${{ steps.semantic.outputs.new_release_version }}

      # - name: Setup Podman
      #   uses: redhat-actions/podman-install@main

      # - name: Build Container Image
      #   run: podman build -t my-app:latest .

      # - name: Test run
      #   run: podman run --rm my-app:latest echo "Podman works!"

  semantic-release:
    name: Semantic Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      # for semantic-release to push
      contents: write
    steps:
      # https://github.com/actions/checkout
      - name: Repository checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Publish Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        id: semantic # Need an `id` for output variables
        # with:
        #   semantic_version: 17
        #   extra_plugins: |
        #     @semantic-release/changelog@5
        #     @semantic-release/exec@5
        #     @semantic-release/git@9
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_NAME: semantic-release
          # GIT_AUTHOR_EMAIL:
          GIT_COMMITTER_NAME: semantic-release
          # GIT_COMMITTER_EMAIL:

...
